<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context=".menu">

    <ImageView
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:src="@drawable/projek1"
        android:scaleType="fitXY"/>

    <TextView
        android:text="Foods"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:textSize="60dp"
        android:layout_marginTop="50dp"
        android:fontFamily="cursive"
        android:textColor="@color/Putih"
        android:layout_marginLeft="30dp"
        android:id="@+id/foods"/>

    <TextView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="Main Course"
        android:layout_below="@id/foods"
        android:textSize="30dp"
        android:fontFamily="cursive"
        android:textColor="@color/Putih"
        android:layout_marginLeft="20dp"
        android:id="@+id/maincourse"
        />

    <TextView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_below="@id/maincourse"
        android:layout_marginLeft="20dp"
        android:layout_marginTop="220dp"
        android:fontFamily="cursive"
        android:text="Desserts"
        android:textColor="@color/Putih"
        android:textSize="30dp" />
</RelativeLayout>